* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f7f5;
  font-family: Arial, Helvetica, sans-serif;
  color: #1e293b;
}

.layout {
  display: flex;
}

/* SIDEBAR */

.sidebar {
  width: 260px;
  min-height: 100vh;
  background: white;
  padding: 30px 20px;
  border-right: 1px solid #e2e8f0;
}

.logo {
  margin-bottom: 40px;
}

.logo h2 {
  color: #15803d;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar nav a {
  text-decoration: none;
  color: #334155;
  padding: 14px;
  border-radius: 12px;
  transition: 0.2s;
  font-weight: bold;
}

.sidebar nav a:hover {
  background: #e8f5ee;
}

.sidebar nav .active {
  background: #d7f5e4;
  color: #166534;
}

/* CONTENT */

.content {
  width: 100%;
  padding: 40px;
}

.header {
  margin-bottom: 30px;
}

.header h1 {
  font-size: 2rem;
}

.header p {
  color: #64748b;
  margin-top: 5px;
}

/* GRID */

.subjects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
  gap: 20px;
}

/* CARD */

.subject-card {
  background: white;
  padding: 28px;
  border-radius: 24px;

  text-decoration: none;
  color: #1e293b;

  font-weight: bold;

  box-shadow: 0 4px 15px rgba(0,0,0,0.05);

  transition: 0.2s;
}

.subject-card:hover {
  transform: translateY(-4px);
  background: #eefcf3;
}

/* RESPONSIVO */

@media (max-width: 900px) {

  .layout {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    min-height: auto;
  }

  .content {
    padding: 20px;
  }

}